.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	box-shadow: 0 2px 0 0 #dadada;
	background-color: #ffffff;
}

.title {
  width: 98px;
  height: 22px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #0ab463;
}