.movie-container {
	width: 744px;
	min-height: 357px;
	border-radius: 4px;
	box-shadow: 0 1px 2px 0 rgba(132, 132, 132, 0.75);
	background-color: #ffffff;
	padding: 30px;
	margin-top: 30px;
	border: solid 1px #dadada;
}

.movie-container .title {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	margin: 0 0 30px 0;
}

.crawl-chars-container {
	display: flex;
	flex-direction: row;
}

.crawl-detail-container {
	width: 100%;
}
.crawl-button-container {
	width: 322px;
	margin-right: 100px;
	min-height: 305px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.crawl-button-container button {
	width: 187px;
	border-radius: 17px;
}

.subtitle {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	margin: 0 0 10px 0;
}

.divider {
	width: 100%;
  height: 1px;
  background-color: #c4c4c4;
}

.crawl-text {
	width: 220px;
	font-size: 14px;
	margin: 5px 0 30px;
	line-height: 17px;
}

.movie-char-container {
	width: 322px;
}

/*removes default link formatting*/
.search-link {
	text-decoration: none;
	color: #ffffff;;
}